@font-face{
    font-family: 'conf';
    src:url(/font/Comfortaa-web/Comfortaa-VariableFont_wght.ttf);
    font-weight: bold;
    font-style: bold;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

:root{
    --primary: #212B38;
    --secondary: #37465B;
    --textColor: #08C6AB;
    --ext: #95bbb4;

    --transition: .4s ease;
}

html{
    font-family: 'conf';
    scroll-behavior: smooth;
}

body{
    
    background-image: url('/img/screen-display-device.com.jpg');
    background-size: cover;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.1rem;
}

h5{
    font-size: .95rem;
}

h1, h2, h3, h4, h5{
    color: var(--secondary);
    line-height: 1.1;
}

a{
    color: var(--ext);
    
    font-family: 'conf';
}

section{
    padding: 8rem 0;
}

section>h2{
    text-align: center;
}

section>p{
    text-align: center;
    width: 40%;
    margin: .5rem auto 4rem;
}

p{
    line-height: 150%;
    font-size: 17px;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

._btn{
    display: inline-block;
    width: fit-content;
    font-weight: bold;
}

._btn:hover{
    color: #212B38;
}

/*--------start card------*/
.card{
    background: var(--ext);
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius: 1.2rem;
    transition: var(--transition);
}

.card:hover{
    background: transparent;
    border-color: var(--textColor);
    transform: translateY(-.5rem);
}

.card-primary{
    background: transparent;
    border-color: var(--textColor);
}

.card-primary:hover{
    background: var(--primary);
}

.container{
    max-width: 1420px;
    width: 90%;
    margin: 0 auto;
}
/*--------end card------*/
/*--- start nav ---*/
nav{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-btn{
    display: none;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav-links li a{
    color: var(--ext);
    font-size: 17px;
    
    text-decoration: none;
}

.nav-links li{
    transition: var(--transition);
}


/*--- end nav ---*/
/*--------start header------*/
header{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    align-items: center;
}

.header-container{
    display: grid;
    grid-template-columns: auto 450px;
    align-items: center;
    height: 100%;
    padding-top: 2.5rem;
    gap: 2%;
    position: relative;
}

.header-container::after{
    content: '';
    width: 1000%;
    right: -981%;
    position: absolute;
    height: 100%;
    z-index: -1;
    background-color: rgba(149, 187, 180, 0.2);
}

.header-left h2{
    margin: 1rem 0;
}

.typed-text{
    background: var(--textColor);
    border-bottom: 3px solid var(--secondary);
}

.header-left p{
    font-size: 19px;
    width: 94%;
    margin: .5rem 0 2rem;
}

.header-right{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    
}

.hero-img{
    position: absolute;
    background: var(--primary);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

.hero-img img{
    position: relative;
    top: .5rem;
}

/*---- start round moon img ----*/
.round{
    width: 100%;
    height: 100%;
    position: absolute;
    border-color: var(--ext) transparent;
    border-style: solid;
    border-radius: 50%;
    border-width: 4px 4px 0 0;
    animation: RoundMoon infinite linear 10s;
}

@keyframes RoundMoon{
    to{
        transform: rotate(360deg);
    }
}
.moon{
    width: 2rem;
    height: 2rem;
    background: var(--ext);
    border-radius: 50%;
    position: absolute;
    right: 60px;
    top: 40px;
    box-shadow: 0 0 1rem var(--secondary);
}
/*---- end round moon img ----*/

.social-links{
    position: absolute;
    bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.social-links a{
    width: 2rem;
    transition: var(--transition);
}

.social-links a:hover, .nav-links li:hover{
    transform: translateY(-.5rem);
}
/*--------end header------*/