@font-face{
    font-family: 'conf';
    src:url(/font/Comfortaa-web/Comfortaa-VariableFont_wght.ttf);
    font-weight: bold;
    font-style: bold;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'conf';
}
.cerrar{
    display:none;    
}
.abrir{
    display:none;
}
:root{
    --primary: #212b38;
    --secondary: #37465B;
    --textColor: #08C6AB;
    --ext: #95bbb4;

    --transition: .4s ease;
}

html{
    font-family: 'conf';
    scroll-behavior: smooth;
    
}

body{
    background-image: url('/img/screen-display-device.com.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    max-width: 100%;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.1rem;
}

h5{
    font-size: .95rem;
}

h1, h2, h3, h4, h5{
    color: var(--secondary);
    line-height: 1.1;
}

a{
    color: var(--ext);
    font-family: 'conf';
}

.social-links-nav{
    display: none;
    list-style: none;
}
section{
    padding: 1rem 0;
}

section>h2{
    text-align: center;
}

section>p{
    text-align: center;
    width: 40%;
    margin: .5rem auto 4rem;
}

p{
    line-height: 150%;
    font-size: 17px;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

._btn{
    display: inline-block;
    width: fit-content;
    font-weight: bold;
}

._btn:hover{
    color: #212B38;
}

/*--------start card------*/
.card{
    background: var(--ext);
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius: 1.2rem;
    transition: var(--transition);
}

.card:hover{
    background: transparent;
    border-color: var(--textColor);
    transform: translateY(-.5rem);
}

.card-primary{
    background: transparent;
    border-color: var(--textColor);
}

.card-primary:hover{
    background: var(--primary);
}

.container{
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    
}
/*--------end card------*/
/*--- start nav ---*/
nav{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


ul{
    margin-bottom: 0;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav-links li a{
    color: var(--ext);
    font-size: 17px;
    
    text-decoration: none;
}

.nav-links li{
    transition: var(--transition);
    list-style: none;
}

.nav-scroll{
    color: var(--primary);
    background-color: rgba(33, 43, 56, 0.7);
}


/*--- end nav ---*/
/*--------start header------*/
header{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    align-items: center;
    padding: 0 3%;
}

.header-container{
    display: grid;
    grid-template-columns: auto 450px;
    align-items: center;
    height: 100%;
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;
    gap: 2%;
    position: relative;
}

.header-container::after{
    content: '';
    width: 1000%;
    right: -981%;
    /* position: fixed; */
    position: fixed;
    height: 110vh;
    z-index: -1;
    background-color: rgba(149, 187, 180, 0.2);
    
}
.header-left{
    margin-bottom: 1rem;
}

.header-left h2{
    margin: 1rem 0;
}

.typed-text{
    background: var(--textColor);
    border-bottom: 3px solid var(--secondary);
}

.header-left p{
    font-size: 19px;
    width: 94%;
    margin: .5rem 0 2rem;
    color: var(--ext);
}

.header-right{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    
}

.hero-img{
    position: absolute;
    background: var(--primary);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

.hero-img img{
    position: relative;
    top: .5rem;
}

/*---- start round moon img ----*/
.round{
    width: 100%;
    height: 100%;
    position: absolute;
    border-color: var(--ext) transparent;
    border-style: solid;
    border-radius: 50%;
    border-width: 4px 4px 0 0;
    animation: RoundMoon infinite linear 10s;
}

@keyframes RoundMoon{
    to{
        transform: rotate(360deg);
    }
}
.moon{
    width: 2rem;
    height: 2rem;
    background: var(--ext);
    border-radius: 50%;
    position: absolute;
    right: 60px;
    top: 40px;
    box-shadow: 0 0 1rem var(--secondary);
}
/*---- end round moon img ----*/

.social-links{
    position: absolute;
    bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.social-links a{
    width: 2rem;
    transition: var(--transition);
}

.social-links a:hover, .nav-links li:hover{
    transform: translateY(-.5rem);
}
/*--------end header------*/

.card-text, .card-title{
    font-size: 1rem;
    padding: 0;
}

.card-text{
    text-indent: 1em;
    text-align: justify;
    font-weight: lighter;
}
.card-title{
    letter-spacing: 7px;
}
.card{
    background: var(--secondary);
    color: var(--ext);
    margin: 1rem 7rem 7rem 7rem;
 }
.card:hover{
    background: var(--primary);
    color: var(--ext);
}

/* skill */
#skill{
    background-color: rgba(33, 43, 56, 0.9);
    
}

#skill h2{
    font-size: 3rem;
}
.progress{
    background-color: rgba(149, 187, 180, 0.2);
    height: 35px;
    margin: 1em 7rem;
    position: relative;
}
.progress img{
    margin: .5em;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: .8rem;
}
.progress h5{
    margin: 10px 5px;
}

.out-row{
    width: 100%;
    height: .9rem;
    background: var(--ext);
    margin: .7rem 1rem;
}

.inner-row{
    width: 100%;
    height: .8rem;
    background: var(--primary);
}

/* HTML */
.progress:nth-child(1) .inner-row{
    width: 87%!important;
}
/* CSS */
.progress:nth-child(2) .inner-row{
    width: 83%!important;
}
/* PHP */
.progress:nth-child(3) .inner-row{
    width: 67%!important;
}
/* laravel */
.progress:nth-child(4) .inner-row{
    width: 13%!important;
}
/* SQL */
.progress:nth-child(5) .inner-row{
    width: 20%!important;
}
/* javascript */
.progress:nth-child(6) .inner-row{
    width: 28%!important;
}
/* python */
.progress:nth-child(7) .inner-row{
    width: 24%!important;
}
/* django */
.progress:nth-child(8) .inner-row{
    width: 19%!important;
}
/* C++ */
.progress:nth-child(9) .inner-row{
    width: 17%!important;
}
/* C# */
.progress:nth-child(10) .inner-row{
    width: 13%!important;
}
/* java */
.progress:nth-child(11) .inner-row{
    width: 13%!important;
}
/* wordpress */
.progress:nth-child(12) .inner-row{
    width: 35%!important;
}

/* proyectos */
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.project{
    color: var(--ext);
    margin: 5px;
}

.project h4{
    color: var(--ext);
    margin: 1em;
}

.project img{
    border-radius: .8rem;
}

.h2_color{
    color: var(--ext);
}

#portfolio{
    padding: 0 3%;
}

/* footer */
footer{
    background-color: rgba(33, 43, 56);
    color: var(--ext);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* ------------- media screem  ------------- */
/* max-width 1200px */
@media screen and (max-width: 1200px){
    h1{
        font-size: 46px;
    }
}

/* max-width 1024px */
@media screen and (max-width: 1024px){
    /* nav-bar 
    .nav-links{
        display: none;
    }
    .header-container::after
    */
    
    .header-left h2{
        font-size: 1.5rem;
    }
    .header-left .card-text{
        font-size: .9rem;
    }
    .menu-button{
        justify-content: end;
    }
}

/* max-width 910px */
@media screen and (max-width: 910px){
    .header-container::after{
        display: none;
    }
    #About .card{
        margin: 1rem 3rem 7rem 3rem;
    }
    .social-links-nav{
        display: flex;
    }
    .social-links{
        display: none;
    }
}

/* max-width 800px */
@media screen and (max-width: 800px){
    header{
        margin-top: 3rem;
        height: 90%;
    }
    .header-container{
        grid-template-columns: 1fr;
        padding: 1rem 0 1rem 0;
        text-align: center;
    }
    .header-right{
        width: 400px;
        height: 400px;
        margin: 0 auto;
        grid-row: 1;
        padding-top: 2rem;
        
    }
    .moon{
        right: 45px;
        top: 35px;
    }
    .portfolio-container{
        gap: 0;
    }

    .container_portfolio_proyect{
        width: 100%;
    }
    
    .header-left{
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        margin: 0;
        padding: 2rem;
    }
}

/* max-width 799px */
@media screen and (max-width: 799px){
    .social-links-nav{
        display: none;
    }
    .social-links{
        margin: 2rem 35% 0 35%;
        display: flex;
        position:relative;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    section{
        padding: 0;  
    }
    .header-container{
        margin-bottom: 0;
    }
    .progress{
        margin: 1rem 2rem;
    }
    section{
        padding: 1rem 0;
    }
    .social-links a{
        width: 3rem;
    }
}

/* max-width 600px */
@media screen and (max-width: 600px){
    .header-container{
            margin-bottom: 0;
    }
    .social-links{
        margin: 2rem 30% 0 30%;
        
    }
    .social-links a{
        width: 4rem;
    }
    
}

/* max-width 530px */
@media screen and (max-width: 530px){
    
    .menu_bar{
        position: absolute;
        flex-direction: column;
        justify-content: start;
        align-items: end;
        top: 0;
        right: 0;
        padding: 1rem;

        width: auto;
        height: 100vh;
        visibility: hidden;
        gap: 1rem;
        background: linear-gradient(90deg, rgba(0, 0, 36, 0) 0%, rgb(0,212,255,0.1) 20%, rgba(2, 0, 36,0.9)100%);
        align-items: end;
        
    }
    .social-links-nav{
        display: block;
    }
    .nav-links{
        flex-direction: column;
        gap: 1rem;
        
    }
    .cerrar{
        display:block;
        background-color: transparent;
        color: #08C6AB;
        font-size: 2rem;
        
    }
    .abrir{
        margin-left: 85%;
        visibility: visible;
        background-color: transparent;
        color: #08C6AB;
        font-size: 2rem;
        display:block;
    }
     nav{
        width: 100%;
     }
    
    .portfolio-container{
        grid-template-columns: repeat(1,1fr);
    }
    .portfolio-projects{
        margin: 1rem 0;
    }
}

@media screen and (max-width:330px){
    html{
        max-width: 100vh;
    }
}